{% extends "layout.html" %}

{% block title %}
    Fights
{% endblock %}

{% block main %}
    <div>
        <nav>
            <a href="/fights/completed/">Completed</a>
            <a href="/fights/upcoming/">Upcoming</a>
        </nav>
        <div>
            {% if sub in ["completed", "upcoming"] %}
            <h1>{{sub}} events</h1>
            {% else %}
            <h1></h1>
            {% endif %}
            <ul>
                {% if sub == "completed" %}
                <p>Only showing the last 30</p>
                    {% for event in events %}
                    <li>
                        <a href="/fights/{{event['event_id']}}/">
                        <h3>{{event['event_name']}}</h3>
                        <p>{{event['event_date']}} -- {{event['event_location']}}</p>
                        </a>
                    </li>
                    {% endfor %}
                {% elif sub == "upcoming" %}
                    {% for upcoming in upcoming_events %}
                    <li>
                        <a href="/fights/{{upcoming['event_id']}}/">
                        <h3>{{upcoming['event_name']}}</h3>
                        <p>{{upcoming['event_date']}} -- {{upcoming['event_location']}}</p>
                        </a>
                    </li>
                    {% endfor %}
                {% else %}
                    <table>
                        <thead>
                            {% for num, fight in fights.items() %}
                                {% for col in fight %}
                                    {% if num == 1 %}
                                        <th>{{col}}</th>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </thead>
                        <tbody>
                            {% for num, fight in fights.items() %}
                            <tr>
                                {% for data in fight.values() %}
                                    <td>{{data}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}